# Book Recommender System

In [7]:
import numpy as np
import pandas as pd

In [8]:
books= pd.read_csv('Books.csv')
users = pd.read_csv('Users.csv')
ratings = pd.read_csv('Ratings.csv')

C:\Users\Ashik-ND\AppData\Local\Temp\ipykernel_3664\1334080023.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books= pd.read_csv('Books.csv')

In [9]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [10]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [11]:
ratings_with_name = ratings.merge(books,on='ISBN')

In [12]:
num_rating_df=ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_rating'},inplace=True)
num_rating_df

                                               Book-Title  num_rating
0        A Light in the Storm: The Civil War Diary of ...           4
1                                   Always Have Popsicles           1
2                    Apple Magic (The Collector's series)           1
3        Ask Lily (Young Women of Faith: Lily Series, ...           1
4        Beyond IBM: Leadership Marketing and Finance ...           1
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.           2
241067                     Ã?Â?rger mit Produkt X. Roman.           4
241068                                Ã?Â?sterlich leben.           1
241069                              Ã?Â?stlich der Berge.           3
241070                                  Ã?Â?thique en toc           2

[241071 rows x 2 columns]

In [13]:
avg_rating_df=ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [14]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_rating,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241066,Ã?Â?lpiraten.,2,0.000000
241067,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241068,Ã?Â?sterlich leben.,1,7.000000
241069,Ã?Â?stlich der Berge.,3,2.666667
241070,Ã?Â?thique en toc,2,4.000000

In [15]:
popular_df = popular_df[popular_df['num_rating']>=250].sort_values('avg_rating',ascending=False).head(50)

In [16]:
popular_df = popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','num_rating','avg_rating' ]]

In [17]:
popular_df

,Book-Title,Book-Author,num_rating,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,556,5.183453
16,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,281,5.007117
17,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,368,4.948370
26,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,575,4.895652
28,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,260,4.880769
39,To Kill a Mockingbird,Harper Lee,510,4.700000
47,The Da Vinci Code,Dan Brown,898,4.642539
53,The Five People You Meet in Heaven,Mitch Albom,430,4.551163
55,The Catcher in the Rye,J.D. Salinger,449,4.545657
62,The Lovely Bones: A Novel,Alice Sebold,1295,4.468726
63,1984,George Orwell,284,4.454225
72,Prodigal Summer: A Novel,Barbara Kingsolver,253,4.450593
73,Neverwhere,Neil Gaiman,265,4.449057
78,The Secret Life of Bees,Sue Monk Kidd,774,4.447028
84,Stupid White Men ...and Other Sorry Excuses fo...,Michael Moore,283,4.356890
85,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,493,4.354970
88,The Red Tent (Bestselling Backlist),Anita Diamant,723,4.334716
89,The Hitchhiker's Guide to the Galaxy,Douglas Adams,268,4.328358
98,Nickel and Dimed: On (Not) Getting By in America,Barbara Ehrenreich,335,4.289552
100,Into the Wild,Jon Krakauer,252,4.273810
103,Fahrenheit 451,Ray Bradbury,409,4.264059
116,Girl with a Pearl Earring,Tracy Chevalier,526,4.218631
117,Outlander,DIANA GABALDON,283,4.173145
123,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,585,4.105983
124,Seabiscuit: An American Legend,LAURA HILLENBRAND,275,4.098182
126,Life of Pi,Yann Martel,664,4.088855
130,The Bean Trees,Barbara Kingsolver,389,4.087404
133,"A Child Called \It\"": One Child's Courage to S...",Dave Pelzer,265,4.086792
135,ANGELA'S ASHES,Frank McCourt,279,4.075269
137,Good in Bed,Jennifer Weiner,490,4.055102
139,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,321,4.037383
140,American Gods,Neil Gaiman,302,4.006623
141,Skipping Christmas,JOHN GRISHAM,322,4.006211
147,Left Behind: A Novel of the Earth's Last Days ...,Tim Lahaye,318,4.003145
149,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,336,4.000000
157,The Color Purple,Alice Walker,314,3.964968
163,Silence of the Lambs,Thomas Harris,256,3.960938
166,About a Boy,Nick Hornby,262,3.900763
173,Seven Up (A Stephanie Plum Novel),Janet Evanovich,278,3.888489
175,The Alchemist: A Fable About Following Your Dream,Paulo Coelho,266,3.875940
177,Hard Eight : A Stephanie Plum Novel (A Stephan...,Janet Evanovich,269,3.825279
182,Suzanne's Diary for Nicholas,James Patterson,457,3.820569
186,Lord of the Flies,William Gerald Golding,259,3.818533
192,A Prayer for Owen Meany,John Irving,413,3.796610
194,"The Vampire Lestat (Vampire Chronicles, Book II)",ANNE RICE,301,3.777409
195,White Oleander : A Novel (Oprah's Book Club),Janet Fitch,356,3.772472

# # Collaborative filtering system

In [18]:
x= ratings_with_name.groupby('User-ID').count()['Book-Rating'] >200
read_user= x[x].index

In [19]:
 filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(read_user)]

In [20]:
y = ratings_with_name.groupby('Book-Title').count()['Book-Rating'] >=50
famous_books= y[y].index

In [21]:
final_rating = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [22]:
pt = final_rating.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [23]:
pt.fillna(0,inplace=True)

In [24]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16 Lighthouse Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0
"\Surely You're Joking, Mr. Feynman!\"": Adventures of a Curious Character""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
stardust,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

In [26]:
similarity_scores = cosine_similarity(pt)

# #Function of Search in book

In [27]:
def recomend(book_name):
    index= np.where(pt.index == book_name)[0][0]
    similar_item =sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1] ,reverse=True) [1:6]
    for i in similar_item:
        print(pt.index[i[0]])

# TEST Search Related Book

# recomend('1984')

In [31]:
recomend('Waiting')

Paddy Clarke Ha Ha Ha
On the Road
POSTCARDS
Resistance : A Novel
Disgrace

In [33]:
recomend('POSTCARDS')

Resistance : A Novel
Crazy in Alabama
Falling Leaves: The True Story of an Unwanted Chinese Daughter
Blood and Gold (Rice, Anne, Vampire Chronicles.)
Free

In [34]:
recomend('Free')

Free
MÃ?Â¶rder ohne Gesicht.
Reversible Errors
Snow in August
The Unbearable Lightness of Being

# Create PKL File

In [37]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [38]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))